.DS_Store
Thumbs.db

.idea/
*.iml
*.ipr
*.iws
undefined-pycharm-support-libs/

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

.ipynb_checkpoints/
*.nbconvert.ipynb

.pytest_cache/
.coverage
coverage.xml
htmlcov/

.mypy_cache/
.pytype/
.pyre/
.pyright/
.ruff_cache/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
